@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to CRUDelicious</h3>
    
</div>
<div>
    <p>Check out some recent dishes!</p>
    <a href="#">Add</a>
</div>
